@model Matematik_Marketi.Models.Entities.Game
@{
    Layout = "_Layout";
    ViewData["Title"] = "Oyun Ekranı";
    ViewData["BodyClass"] = "page-oyun";
}

<!-- Sol Panel -->
  <div class="sidebar" data-lives="@Model.Lives">

    <div class="carts">
      <img src="/images/sepet.png" alt="Sepet">
      <img src="/images/sepet.png" alt="Sepet">
      <img src="/images/sepet.png" alt="Sepet">
    </div>

    <div class="list">
    <button class="listBtn" data-gameid="@Model.Id">
      <img src="/images/wishlist.png" alt="Liste">
      </button>
      <span class="hint">← Buraya tıkla!</span>
    </div>

  </div>

  <!-- Raf ve Ürünler -->
  <main>
    <div class="shelf">

      <div class="row row1">
      
        <button class="item product milk" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Süt")?.ProductId"><img src="/images/milk-carton.png" alt="Süt"></button>
        <button class="item product cheese" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Peynir")?.ProductId"><img src="/images/cheese.png" alt="Peynir"></button>
        <button class="item product eggs" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Yumurta")?.ProductId"><img src="/images/egg.png" alt="Yumurta"></button>

      </div>
      
      <div class="row row2">

        <button class="item product tomato" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Domates")?.ProductId"><img src="/images/tomato.png" alt="Domates"></button>
        <button class="item product carrot" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Havuç")?.ProductId"><img src="/images/carrots.png" alt="Havuç"></button>
        <button class="item product cucumber" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Salatalık")?.ProductId"><img src="/images/cucumber.png" alt="Salatalık"></button>

      </div>

      <div class="row row3">

        <button class="item product toothpaste" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Diş Macunu")?.ProductId"><img src="/images/toothpaste-tube.png" alt="Diş Macunu"></button>
        <button class="item product soap" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Sabun")?.ProductId"><img src="/images/liquid-soap.png" alt=" Sıvı Sabun"></button>
        <button class="item product detergent" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Deterjan")?.ProductId"><img src="/images/detergent.png" alt="Deterjan"></button>

      </div>

      <div class="row row4">

        <button class="item product strawberry" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Çilek")?.ProductId"><img src="/images/strawberry.png" alt="Çilek"></button>
        <button class="item product banana" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Muz")?.ProductId"><img src="/images/bananas.png" alt="Muz"></button>
        <button class="item product pear" data-gameid="@Model.Id" data-productid="@Model.ShoppingList.Items.FirstOrDefault(p => p.Product.Name == "Armut")?.ProductId"><img src="/images/pear.png" alt="Armut"></button>

      </div>
  </div>
  </main>
  <script>
    let can = @Model.Lives; // Backend’deki can sayısı
    const hearts = document.querySelectorAll(".carts img");
    
    // İlk yüklemede görselleri can sayısına göre ayarla
    hearts.forEach((h, index) => {
        h.style.display = index < can ? "inline" : "none";
    });
</script>


