 @model Matematik_Marketi.Models.Entities.GameQuestion
@{
    Layout = "_Layout";
    ViewData["Title"] = "Soru Ekranı";
    ViewData["BodyClass"] = "page-soru";
}
  <!-- Oyun alanı -->
  <div class="game-container">
    <div class="popup">
      <!-- Soru -->
      <div class="question">
        <span class="expression">@Model.Question.QuestionText</span>
      </div>

      <!-- Cevap kutusu -->
      <div class="answer-row">
        <span class="label">Cevap =</span>
        <input name ="girdi" type="text" class="answer-input" >
        <button class="submitAnswer" data-gameid="@Model.GameId" data-productid="@Model.ProductId">Onayla</button>
      </div>

      <!-- Doğru/Yanlış mesajı (backend’den gelecek) -->
      <p class="result" style= "display: none;"></p>
     
      <!-- Buton -->
      <button class="btn" data-gameid="@Model.GameId" data-productid="@Model.ProductId" data-btn-type="soru-tamam">TAMAM</button>
    </div>
  </div>